.viewport {
	position: relative;
	height: 800px;
}
.viewport canvas {
	position: absolute;
}

.viewport canvas {
    background-color: transparent;
    width: 365px;
    height: 800px;
}

.combine {
    width: 91.5px;
    height: 200px;
}