<div>
	<div class="viewport">
		<canvas #bodyColour width="1641" height="3594"></canvas>
		<canvas #bodyLines width="1641" height="3594"></canvas>
		<canvas #hairColour width="1641" height="3594"></canvas>
		<canvas #hairLines width="1641" height="3594"></canvas>
		<canvas #leftEarColour width="1641" height="3594"></canvas>
		<canvas #leftEarLines width="1641" height="3594"></canvas>
		<canvas #rightEarColor width="1641" height="3594"></canvas>
		<canvas #rightEarLines width="1641" height="3594"></canvas>
		<canvas #tailColour width="1641" height="3594"></canvas>
		<canvas #tailLines width="1641" height="3594"></canvas>
	</div>
</div>